In [29]:
import pandas as pd
import numpy as np

In [30]:

ruta_archivo = "../data/dengue2021.csv"
df2021 = pd.read_csv(ruta_archivo)
df2021.head(5)

,departamento_id,departamento_nombre,provincia_id,provincia_nombre,año,semanas_epidemiologicas,evento_nombre,grupo_edad_id,grupo_edad_desc,cantidad_casos
0,6648,Presidente Perón,Buenos Aires,6,2021,12,Dengue,7,De 15 a 19 anos,1
1,6760,San Miguel,Buenos Aires,6,2021,17,Dengue,4,De 2 a 4 anos,1
2,6371,General San Martín,Buenos Aires,6,2021,12,Dengue,9,De 25 a 34 anos,1
3,6490,Lomas de Zamora,Buenos Aires,6,2021,15,Dengue,9,De 25 a 34 anos,1
4,6539,Merlo,Buenos Aires,6,2021,13,Dengue,9,De 25 a 34 anos,1

In [31]:
df2021['grupo_edad_desc'] = df2021['grupo_edad_desc'].str.replace('anos', 'años')
df2021.head(5)

,departamento_id,departamento_nombre,provincia_id,provincia_nombre,año,semanas_epidemiologicas,evento_nombre,grupo_edad_id,grupo_edad_desc,cantidad_casos
0,6648,Presidente Perón,Buenos Aires,6,2021,12,Dengue,7,De 15 a 19 años,1
1,6760,San Miguel,Buenos Aires,6,2021,17,Dengue,4,De 2 a 4 años,1
2,6371,General San Martín,Buenos Aires,6,2021,12,Dengue,9,De 25 a 34 años,1
3,6490,Lomas de Zamora,Buenos Aires,6,2021,15,Dengue,9,De 25 a 34 años,1
4,6539,Merlo,Buenos Aires,6,2021,13,Dengue,9,De 25 a 34 años,1

In [32]:
ruta_archivo2 = "../data/dengue2022.csv"
df2022 = pd.read_csv(ruta_archivo2, sep=';', encoding='ISO-8859-1')
df2022.head(5)

,departamento_id,departamento_nombre,provincia_id,provincia_nombre,año,semanas_epidemiologicas,evento_nombre,grupo_edad_id,grupo_edad_desc,cantidad_casos
0,1,CABA,2,CABA,2022,8,Dengue,11,De 45 a 65 años,1
1,1,CABA,2,CABA,2022,9,Dengue,8,De 20 a 24 años,1
2,1,CABA,2,CABA,2022,16,Dengue,10,De 35 a 44 años,1
3,1,CABA,2,CABA,2022,49,Dengue,6,De 10 a 14 años,1
4,1,CABA,2,CABA,2022,48,Dengue,10,De 35 a 44 años,1

In [33]:
df3 = pd.concat([df2021, df2022])
df3.head(5)

,departamento_id,departamento_nombre,provincia_id,provincia_nombre,año,semanas_epidemiologicas,evento_nombre,grupo_edad_id,grupo_edad_desc,cantidad_casos
0,6648,Presidente Perón,Buenos Aires,6,2021,12,Dengue,7,De 15 a 19 años,1
1,6760,San Miguel,Buenos Aires,6,2021,17,Dengue,4,De 2 a 4 años,1
2,6371,General San Martín,Buenos Aires,6,2021,12,Dengue,9,De 25 a 34 años,1
3,6490,Lomas de Zamora,Buenos Aires,6,2021,15,Dengue,9,De 25 a 34 años,1
4,6539,Merlo,Buenos Aires,6,2021,13,Dengue,9,De 25 a 34 años,1

ANÁLISIS EXPLORATORIO DE DATOS

In [35]:
df3.dtypes

departamento_id             int64
departamento_nombre        object
provincia_id               object
provincia_nombre           object
año                         int64
semanas_epidemiologicas     int64
evento_nombre              object
grupo_edad_id              object
grupo_edad_desc            object
cantidad_casos              int64
dtype: object

cantidad de filas del df3:

In [36]:
df3.shape

(1457, 10)

No existen datos nulos en los dataset

In [37]:
(
    df3
    .isnull()
    .any()
)

departamento_id            False
departamento_nombre        False
provincia_id               False
provincia_nombre           False
año                        False
semanas_epidemiologicas    False
evento_nombre              False
grupo_edad_id              False
grupo_edad_desc            False
cantidad_casos             False
dtype: bool

Variables categóricas:

In [38]:
df.describe(include=object)

,departamento_nombre,provincia_id,evento_nombre,grupo_edad_id,grupo_edad_desc
count,1164,1164,1164,1164,1164
unique,75,18,1,12,14
top,Capital,Salta,Dengue,9,De 25 a 34 años
freq,252,540,1164,365,195